<ion-content id="contenedor" class="auth-form">
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        
        <ion-button id="reg" [routerLink]="['/registration']" color="#"> Registrarse </ion-button>

        <div class="divider line one-line">------------ o ------------</div>

        <div class="already">Ya tienes cuenta?</div>

        <ion-button id="log" [routerLink]="['/login']" color="#"> Iniciar Sesión </ion-button>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
